body {
	font-family: 'Poppins', sans-serif !important;
	background-color: black !important;
}

.main-div {
	padding: 14px;
	font-size: 16px;
	font-weight: 100;
	color: white;
	text-align: justify;
  	text-justify: inter-word;
}

.btn {
	font-size: 20px !important;
}

.headphones {
	font-size: 14px !important;
}

.button-div {
	margin: auto;
	width: 100%;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin-top: 30vh;
	font-size: 30px !important;
	color: white;
}